/* 
    Created on : 18-Feb-2020, 15:19:38
    Author     : DAW_M12_grup2
*/

div.main {    
    font-family: Segoe UI Light;
    font-size: 20px;
}

div.box { 
    border: #5F9EA0;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 5px;
    border-style: inset;
    padding: 20px;
    position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

form input {
    width: 100%;
    height: 20px;
    border-radius: 3px;
    border: #607D8B solid 1px;
}

h1.title {
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 39px;
    letter-spacing: -1.2px;
    word-spacing: -0.4px;
    color: #505050;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}

button.btn {
    width: 100%;
    height: 40px;
}

p.error {
    font-size: 11px;
    color: red;
    font-weight: bold;
    font-family: Segoe UI Semibold;   
}

p.logout {
    font-size: 22px;
    color: green;
    font-style: italic;
    font-family: Segoe UI Semibold;   
}

form label { display: block; }
form div { margin-bottom: 10px; }

body {
    background: linear-gradient(to right, rgba(169,227,229,1) 0%, rgba(136,213,215,1) 36%, rgba(113,203,206,1) 68%, rgba(89,193,197,1) 100%);
}

logo {
    width: 400px;
    height: 400px;
    position: absolute;
    left:0;
    top:0;
}

@media screen and (max-width: 479px) {
/*phone styles */
logo {
    width: 20px;
    height: 20px;
    position: absolute;
    left:0;
    top:0;
}

body {
    background: linear-gradient(to right, rgba(169,227,229,1) 0%, rgba(136,213,215,1) 36%, rgba(113,203,206,1) 68%, rgba(89,193,197,1) 100%);
}

form label { display: block; }
form div { margin-bottom: 10px; }

/*missatges*/
p.logout {
    font-size: 4vw;
    color: green;
    font-style: italic;
    font-family: Segoe UI Semibold;   
}

p.error {
    font-size: 4vw;
    color: purple;
    font-weight: bolder;
    font-family: Segoe UI Semibold;   
}


button.btn {
    width: 100%;
    height: 40px;
}

h1.title {
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 8vw;
    letter-spacing: -1.2px;
    word-spacing: -0.4px;
    color: #505050;
    font-weight: bolder;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}

/* form components */
div.box { 
    border: #5F9EA0;
    width: 70%;
    height: 40%;
    margin: 0 auto;
    border-radius: 5px;
    border-style: inset;
    padding: 15px;
    position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

form input {
    width: 100%;
    height: 30px;
    border-radius: 3px;
    border: #607D8B solid 1px;
}


}
